---

---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <span class="text-sm op50">
    <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" style="color: inherit;">
      CC BY-NC-SA 4.0
    </a>
    2024 © Yulei Chen
  </span>
</footer>
